html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 100000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .back {
    font-weight: bold;
    cursor: pointer;
}

.header .about {
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}

/* Modal background */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    /* default tersembunyi */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Isi modal */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    position: relative;
}

/* Tombol close */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Kalau checkbox aktif, tampilkan modal */
#aboutToggle:checked~.modal {
    display: flex;
}

.content {
    flex: 1;
    /* PENTING: membuat area konten mengisi layar */
    padding: 20px;
    box-sizing: border-box;
}

.judul {
    text-align: center;
    margin: 20px 0;
}

.isi {
    text-align: center;
    margin-bottom: 40px;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
    background: #f0f0f0;
    border-radius: 10px;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.card {
    width: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 135px;
    object-fit: cover;
}

.card h3 {
    text-align: center;
    margin: 10px 0;
}

.card p {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    padding: 0 15px;
    text-align: justify;
    font-size: 14px;
    color: #555;
}

.card:hover {
    transform: translateY(-5px);
}

.card:hover p {
    opacity: 1;
    max-height: 180px;
    margin-bottom: 15px;
}

.game-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.game-link:hover h3 {
    color: darkorange;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}